header, footer {
  background-color: var(--dark-grey);
  color: #fff;
  padding: var(--gap-md);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

header .button {
  background-color: var(--primary);
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: var(--radius);
}

footer .lab {
  color: var(--secondary);
}
