header, footer {
  background-color: var(--dark-grey);
  color: #fff;
  padding: var(--gap-md);
}

#containerFirstSection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

.catIcon{
  font-size: 200px;
  color: var(--dark-grey);
}

footer .lab {
  color: var(--secondary);
}
.Shareico {
  font-size: 32px;
  color: var(--primary);
}

.Juegoico {
  font-size: 32px;
  color: var(--secondary);
}

.secsec {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.secsec p {
  margin: 0px;
  font-size: larger;
}
