header, footer {
  background-color: var(--dark-grey);
  color: #fff;
  padding: var(--gap-md);
}

#containerFirstSection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

.catIcon{
  font-size: 200px;
  color: var(--dark-grey);
}

footer .lab {
  color: var(--secondary);
}
