:root {
  --dark-grey: #333;
  --grey: #aaa;
  --light-grey: #eee;
  --primary: #9236cf;
  --secondary: #36b0cf;
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-lg: 40px;
}


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,  h2, h3, h4 , h5, h6 {
  font-family: 'Bodoni Moda', serif;
  margin: 0;
}

a {
  color: var(--secondary);
}

* {
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
